.name{color: lime;}


button {
    border: 2px solid;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background:  
      radial-gradient(circle, #0000 1%, var(--c) 1%) 50%/0%
      var(--c);
    transition: background 0.6s;
  }
  button:hover,
  button:focus-visible{
    background-size: 15000%;
  }
  button:active {
    background-color: var(--r,#FA6900); /* color of the ripple effect*/
    background-size: 100%;
    transition: 0s;
  }
  button:focus-visible {
    outline-offset: 2px;
    outline: 3px solid #000;
  }
  
  .light {
    --c: #fff;
    color: #0B486B;
  }
  .dark {
    --c: #0B486B;
    color: #fff;
    border-color: var(--c);
  }
  
  
  body {
    margin:0;
    height:100vh;
    grid-auto-flow:column;
    grid-gap:50px;
  }
  
 .time {color: #22326b;}